* {
  margin: 0;
  padding: 0;
  text-rendering: geometricPrecision;
  box-sizing: border-box;
}
body, html {
  background: #fff;
  color: #ccc;
  font: 12px Menlo, "DejaVu Sans Mono", "Lucida Console", monospace;
}
h1 {
  line-height: 1em;
}
.avatar {
  padding: 20px;
}
#header {
  position: relative;
  z-index: 10000;
  text-align: center;
}
#header pre {
  overflow:hidden;
}
#header span {
  color: #999;
  font-family: -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
}
#header a {
  color: #999;
  text-decoration: none;
}
#header a:hover {
  color: #000000;
}
#content,
#footer {
  max-width: 800px;
  margin: auto;
}
#content {
  height: 100%;
  min-height: 100vh;
}
#footer {
  bottom: 10px;
  height: 100px;
}
#content a {
  color: #ccc;
  text-decoration: none;
  border-bottom: 1px dotted #F62459;
}
#content a:hover {
  background: #000000;
  color: #fff;
  font-weight: bold;
}
#content h2, #content h3 {
  font-size: 12px;
  font-weight: bold;
  color: #ccc;
  margin-top: 10px;
}
#content h2 a, #content h3 a {
  color: #ccc;
  border-bottom-width: 0;
}
#content p {
  line-height: 18px;
  padding-bottom: 10px;
}
#content h2:before {
  content: '## ';
}
#content h3:before {
  content: '### ';
}
#content code {
  font: 12px Menlo, "DejaVu Sans Mono", "Lucida Console", monospace;
}
#content p code, #content li code, #content td code {
  color: #F62459;
}
/* #content p code:before, #content p code:after, */
/* #content td code:before, #content td code:after, */
/* #content li code:before, #content li code:after { */
/*   content: ''; */
/* } */

#content pre {
  margin: 30px;
  color: #50E3C2;
  line-height: 18px;
  background-color: #282C34;
}
#content table thead td {
  color: #999;
  font-size: 10px;
}
#content table {
  width: 100%;
  border-collapse: collapse;
  margin: 30px;
}
#content td > table {
  margin: 0;
}
#content table td {
  vertical-align: top;
  border: 1px solid #444;
  line-height: 15px;
}
#content td {
  padding: 10px;
}
#content table.config td:nth-child(2) {
  width: 30%;
  color: #999;
}
#content table.config tbody td:first-child {
  color: #fff;
}
#content table.api tbody td:first-child {
  color: #fff;
}
#content table.api > tbody > tr > td:nth-child(2) {
  width: 13%;
}
#content table.api tbody tbody td:first-child {
  width: 20%;
}
#content td > p:first-child {
  margin-top: 0;
}
#content ul {
  margin: 10px;
}
#content ul li {
  list-style-type: none;
  line-height: 18px;
  margin: 5px 0;
  padding-left: 20px;
}

#content ul li:before {
  content: '-';
  color: #999;
  position: absolute;
  margin-left: -20px;
}

#content p b {
  color: #F62459;
}

.time-published {
  font-size: 10px;
}
.time-published:after {
  content: ' ago'
}
.social-twitter {
  color: #1DA1F3
}
.spacer {
  display: block;
  min-height: 5px;
}

blockquote {
  border-left: 3px solid #F62459;
  padding-left: 10px;
  margin: 10px auto;
}

strong {
  color: #F62459;
}

.img-container {
  width: 100%;
  max-height: 400px;
  overflow: hidden;
  border-radius: 4px;
  margin: 20px auto;
  /* cursor: pointer; */
}

.img-container.full {
  max-height: 100%;
}

img {
  width: 100%;
}



@media screen and (max-height: 500px) {

}
@media screen and (max-height: 550px) {

}
@media screen and (max-height: 650px) {

}
@media screen and (max-height: 700px) {

}
@media screen and (max-width: 800px) {
  #content,
  #footer {
    padding: 20px;
  }
  #content table {
    margin-left: 0;
    margin-right: 0;
  }
}
@media screen and (max-width: 700px) {
  #content,
  #footer {
    padding: 20px;
  }
  pre {
    white-space:pre-wrap; word-wrap:break-word; overflow:auto;
  }
  #content table {
    margin-left: 0;
    margin-right: 0;
  }
  #content table td {
    width: 50% !important;
  }
  #content table td:nth-child(3) {
    display: none;
  }
  #content .table-note:after {
    margin: 15px 0;
    content: "Please note: the complete table information is available in bigger resolutions!";
    display: block;
    color: #999;
  }
  #content img {
    max-width: 100%;
    height: auto;
  }
  #arrow {
    display: none;
  }
}
